<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.class.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'auth-test' %>
  <%= javascript_include_tag :defaults  %>
</head>
<body style="margin:0; padding: 0;">

<div id="topnav" class="<%= logged_in? and current_user.roles.map(&:to_s) * " " %>">
  <%= link_to "Conferences", conferences_path if permitted_to? :read, :conferences %>
  <%= link_to "Users", users_path if permitted_to? :read, :users %>
  <%= link_to "Authorization Rules", :controller => 'authorization_rules' if permitted_to? :read, :authorization_rules %> |
  <% if logged_in? %>
    Logged in as <b><%= h current_user.login %> (<%= current_user.roles * ',' %>)</b>.
    <%= link_to "Logout", '/logout' %>
  <% else %>
    Not logged in <b>(guest)</b> | 
    <%= link_to "Login", '/login' %> | <%= link_to "Sign up", "/signup" %>
  <% end %>
  <%= select_tag "force_login", 
            options_for_select(['none', 'presenter_2', 'admin'], current_user && current_user.login),
            :onchange => "location.href = ($F('force_login') == 'none' ? '/logout' : '/sessions/create?force=1&login=' + $F('force_login'))" %>
</div>
<div style="padding: 0.5em; border-bottom: 1px lightgrey solid;">
  <%= breadcrumb %>
</div>

<div id="content" style="padding: 0 0.5em">
  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:error] %></p>
  <%= yield  %>
</div>

</body>
</html>
